header{
  height: 60px;
  background-color: #fc6f92;
}

.first-block {
  height: 500px;
  background-color: #ddd;
}

.second-block {
  height: 500px;
  background-color: #f0f0f0;
}

.third-block {
  height: 500px;
  background-color: #F5A9BC;
}

footer{
  height: 50px;
  background-color: #fc6f92;
}
